/* TODO Smile. You are enough. */
/* body styling */

body {
    color: #ffffff;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* end of body */

/* start of header syling */

#pageHeader,
#pageFooter {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #3c6e71;
    z-index: 1;
}

#highScoreLink {
    color: #fff;
    text-decoration: none;
}

#highScoreLink:hover {
    color: #353535;
    font-weight: bold;
}

/* end of header styling */

/* start of main content styling (big box) */

#quizBox {
    margin: .5rem 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1em;
    box-shadow: 5px 5px 10px 5px #35353594;
    padding: 0 5rem;
    min-height: 50%;
    background-color: #284b63;
    text-align: center;
}

#quizBox header {
    font-size: 2.5rem;
}

#instructions {
    margin: 0 10rem;
    font-size: 1.2rem;
}

button {
    padding: .8rem 0;
    width: 8rem;
    background-color: #353535;
    border-radius: .5rem;
    color: #fff;
    border: none;
    box-shadow: 2px 2px 5px 2px #504f4f81;
    text-align: center;
    /* margin: .5rem; */
}

button:hover {
    cursor: pointer;
    background-color: #242323;
    transform: translate(1px, 1px);
}

.answer {
    width: 30%;
    font-size: 1.5rem;
    background-color: #3c6e71;
}

input {
    padding: .5rem .2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

li {
    line-height: 1.4rem;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

/* end of main content styling (big box) */

/* footer styling */

#pageFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* end of footer styling */

/* styling for large screens */

@media (max-width: 1199px) {

    #quizBox {
        padding: 1rem;
    }

    #quizBox header {
        font-size: 2rem;
        margin: .5rem;
        padding: .1rem 1rem;
    }

    .answer {
        font-size: 1rem;
        width: 40%;
        margin: .4rem;
    }

    #instructions {
        margin: 1.5rem 3rem;
        font-size: 1rem;
    }
}

/* styling for small screens */

@media (max-width: 991px) {

    #quizBox {
        margin: .2rem 15%;
    }
}

@media (max-width: 767px) {
    #quizBox {
        padding: .5rem;
        margin: .2rem 10%;
    }
}

@media (max-width: 575px) {
    #quizBox header {
        font-size: 1.6rem;
    }

    #instructions {
        margin: 1rem;
    }

    ol {
        font-size: 1rem;
    }
}

/* styling for mobile devices */

@media (max-width: 420px) {
    #quizBox {
        width: 90%;
        margin: auto;
        height: 65%;
        justify-content: center;
    }

    button {
        margin: .8rem;
    }

    #quizBox header {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

}

/* styling for extra small devices */

@media (max-width: 350px) {
    .answer {
        width: 50%;
    }

    #quizBox header {
        font-size: 1rem;
        margin: 1rem;
    }

    ol {
        font-size: .8rem;
    }
}